 
body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.866),rgba(255, 255, 255, 0.808)), url('./images/img2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
   
    
}
